*{
	margin: 0;
	padding: 0;
}
body{
	background: #f2fcff;
	font-size: 14px;
	font-family: 'Aleo', serif;
	line-height: 1.5;
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
}
.section{
	float: left;
	width: 100%;
}
.container{
	width: 1015px;
	margin: 0 auto;
}
/*CSS Section_1*/
.container_1{
	width: 100%;
}
.tren{
	width: 1015px;
	margin: 0 auto;
	padding-top: 35px;
	padding-bottom: 35px;
}
.sec1_1{
	width: 20%;
	float: left;
}
.sec1_2{
	width: calc(50% - 25px);
	float: left;
	text-align: right;
	padding-right: 15px;
}
.sec1_1 a{
	display: inline-block;
	vertical-align: middle;
}
.sec1_text2{
	padding-right: 15px;
	font-weight: 700;
	color: #000a52;
}
.sec1_text{
	display: inline-block;
	padding-right: 15px;
	text-decoration: underline;
	color: #666666;
}
.sec1_3{
	width: 30%;
	float: right;
}
.sec1_4{
	width: 100%;
	background: #000a52;
}
input{	
	height: 39px;
	width: 306px;
	line-height: 39px;
	font-size: 14px;
	color: #bdbdbd;
	border: 2px solid #6397aa;
	box-sizing: border-box;
	padding-left: 10px;
}
.sec1_4_1{
	 position: relative;
  display: inline-block;
  width: 100%;
  background-color: #000a52;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}
.sec1_4 a{
	text-decoration: none;
	font-size: 14px;
	padding-right: 10px;
	color: #ffffff;
}

.sec1_4_2 {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px ;
  padding: 12px 16px;
  text-decoration: none;
  width: 100%;
  text-align: center;
  }
  .sec1_4_2 a{
  	color: #325f70;
}

.sec1_4:hover .sec1_4_2 {
  display: block;
}
.sec1_4_1 a:hover{
	color: #ffffff;
}

/*CSS Section_2*/
.section_2{
	background-color: #f3f8ff;
}
.move_left{
	width: 2.5%;
	float: left;
}
.center{
	width: 95%;
	float: left;
}
.move_right{
	width: 2.5%;
	float: right;
	text-align: right;
}
.center_left{
	width: 50%;
	float: left;
}
.center_right{
	width: 50%;
	float: right;
	text-align: right;
}
.move a img{
	padding-top: 160px;
	padding-bottom: 160px;
}
.slogan h1{
	color: #325f70;
	font-size: 30px;
}
.slogan p{
	color: #6397aa;
	font-size: 18px;
}
.slogan{
	padding-top: 90px;
	padding-bottom: 65px;
	padding-left: 20px;
}
.box_active div{
	display: inline-block;
}
.box_order{
	width: 113px;
	height: 40px;
	background-color: #99c873;
	font-size: 18px;
	color: #ffffff;
	line-height: 40px;
}
.box_more{
	width: 113px;
	height: 40px;
	font-size: 18px;
	color: #99c873;
	border: 1px solid #99c873;
	line-height: 40px;
	box-sizing: border-box;
}
.box_order p{
	margin-left:10px;
}
.box_more p{
	margin-left: 10px;
}
.center_right a img{
	padding-top: 40px;
	padding-right: 20px;
}
.sau_cham{
	width: 100%;
	float: left;
	text-align: center;
	letter-spacing: 5px;
	padding: 10px 0;
}
.box{
	width: 9px;
	height: 9px;
	background-color: #d6d6d6;
	border-radius: 100%;
	display: inline-block;
}
.box_2{
	width: 9px;
	height: 9px;
	background-color: #6397aa;
	border-radius: 100%;
	display: inline-block;
}
/*CSS Section_3*/
.section_3{
	color: #1e2934;
}
.container_3{
	padding-top: 30px;
}
.left{
	width: 22%;
	float: left;
}
.right{
	width: 75%;
	float: right;
	text-align: right;
}
.clear{
	clear: both;
}
.list1{
	margin-left: -10px;
}
.list1_content{
	width: calc(100% - 25.5px);
	padding-left: 10px;
	padding-right: 15.5px;
}
.list1_content h3{
	color: #333333;
	font-size: 24px;
	padding-top:28px;
	padding-bottom:28px;
	margin-left: 10px;
}
.list1_content ul li{
	width: calc(100% - 50px);
	color: #325f70;
	padding: 12.5px 0;
}
.list1_content ul li a{
	margin-left: 10px;
	font-weight: 600;
	color: #325f70;
}
.list2{
	margin-right: -15.5px;
}
.item{
	width: calc(100% / 3 - 31px);
	padding: 14px 15.5px;
	float: left;
	text-align: center;
	position: relative;
}
.item_content{
	width: 100%;
}
.pic{
	width: calc(100% - 2px);
	height: 222px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius:2px;
	float: left;
	line-height: 222px;
	position: relative;
	margin: 0 auto;
}
.text{
	width: 100%;
	float: left;
	padding-top: 10px;
}
.text_1{
	width: 75%;
	float: left;
	text-align: left;
}
.text_1 a{
	font-weight: 500;
	color: #1e2934;
}
.text_2{
	width: 25%;
	float: right;
	text-align: right;
}
.text_2 a{
	color: #627b92;
}
.extend{
	width: 100%;
	float: left;
	text-align: center;
}
.extend button{
	color: #ffffff;
	font-size: 14px;
	width: 143px;
	height: 37px;
	background:#99c873;
	border-radius: 5px;
}
.list1_content li:hover{
	border-radius: 5px;
	background: #6397aa;
}
.list1_content li:hover a{
	color: #ffffff;
}
.box_price{
	position: absolute;
}
.price{
	position: absolute;
	top: 156px;
	left: -7px;
}
.backgr{
	position: absolute;
	top: 135px;
	left: 0;
}
.ship{
	position: absolute;
	top: 156px;
	left: 38px;
}
.pic img{
	margin: auto;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}

/*CSS section_4*/
h2 {
	font-size: 24px;
	padding-bottom: 20px;
	font-family: Regular;
	color: #333333;
	padding-right: 14px;
	padding-left: 15.5px;
}

.container_4 {
	padding-top: 30px;
}

.column {
	width: calc(100% / 4 - 31px);
	float: left;
	position: relative;
	padding:14px 15.5px;
}

.text_left {
	font-size: 14px;
	color: #1e2934;
	display: inline-block;
	font-weight: 500;
}

.text_right {
	float: right;
	color: #627b92;
	font-size: 14px;
	display: inline-block;
	text-align: right;
}

.new img{
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.new_column {
	padding-right: 180px;
	padding-top: 105px;
}

.section_4 .container .column_2  {
	float: left;
	width: 100%;
	padding-top: 70px;
}

.images_2 {
	float: left;
	width: 50%;
}

.images_3 {
	float: right;
	width: 50%;
}
.all_colum{
	margin: 0 -15.5px;
}
.sec4_images{
	width: calc(100% / 2 - 31px);
	padding: 14px 15.5px;

}
.colum_2{
	margin: 0 -15.5px;
}
/*CSS Section_5*/
.section_5{
	background: #f7fcff;
}
.container_5{
	padding-top: 30px;
}
.sec5_top{
	width: 100%;
	float: left;
}
.sec5_bot{
	width: 100%;
	float: left;
}
.sec5_botleft{
	width: 70%;
	float: left;
}
.sec5_botright{
	width: 30%;
	float: right;
	text-align: right;
}
.sec5_top li{
	display: inline-block;
	width: 25%;
	float: left;
}
.sec5_top ul li{
	padding: 50px 0;
}
.sec5_botleft{
	font-size: 14px;
	line-height: 2.0;
}
.sec5_botleft .p1{
	color: #325f70;
}
.sec5_botleft .p2{
	color: #648b99;
}
.sec5_bot{
	padding-bottom: 50px;
}
.sec5_top_right{
	text-align: right;
	float: right;
}