* {
	margin: 0;
	padding: 0;
}

body {
	background-color:#f4f6f8;
	color: #28313b;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif; 
}

a {
	text-decoration: none;
	color: #34404b;
}
a:hover{
	color: red;
}
ul {
	list-style-type: none;
}
.section{
	float: left;
	width: 100%;
}
.container{
	width: 1170px;
	margin:0 auto;
}
.section_2 .container .left .new > h3:hover{
	color: red;

}
.container a{
	text-decoration: none;
}
.left{
	background: #fff;
	float: left;
	width: 73%;
	
}
.new{
	margin: 5px 10px 5px 10px;
	padding-bottom: 35px;
	border-bottom: 1px solid #CCCCCC; 
}
.ten{
	float: left;
}
.new_1{
	text-decoration: none;
}
.new > img{
	width: 150px;
	float: left;
	padding: 5px;
	margin-right: 5px;
}
.new > p{
	font-size: 16px;
	padding: 20px 0px;
}
.new .new_3{
	margin: 23px;
}
.thu_tu{
	text-align: center;
}
.right{
	background: #fff;
	float: right;
	width: 25%;
	border: 1px solid #CCCCCC;
}
.name{
	height: 32px;
	text-align: center;
	background: #75a624;
	color: #fff;

}

.anh{
	width: 30px;
	margin: 0 4px 0 3px;
	float: left;
}
.game {
	position: relative;
}

.gameNumberhot {
	position: absolute;
	margin-left: 10px;
	background: red;
	width: 16px;
	height: 16px;
	color: #fff;
	line-height: 15px;
	text-align: center;
	margin-top: 5px;
}
.gamelist{
	line-height: 30px;
}

.game_1 {
	margin-left: 30px;
}
.games {
	position: relative;
}

.gameNumberhot1 {
	position: absolute;
	margin-left: 10px;
	background: #818181;;
	width: 16px;
	height: 16px;
	color: #fff;
	line-height: 15px;
	text-align: center;
	margin-top: 5px;
}
.gamelist1{
	line-height: 30px;
}

.game_2 {
	margin-left: 30px;
}

