*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f4f6f8;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	font-family: 
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
}
.section{
	width: 100%;
	float: left;
}
.container{
	width: 1170px;
	margin: 0 auto;
}

/* CSS section 1 */
.section_1{
	background: #ffffff;
	border-bottom: 1px solid #f4f6f8;
}
.sec1_left{
	width: 50%;
	float: left;
}
.sec1_right{
	width: 50%;
	float: right;
	text-align: right;
}
.section_1 .container_1 li{
	display: inline-block;
}
.section_1 .container_1 .sec1_left a{
	padding-right: 15px;
}
.section_1 .container_1 .sec1_right a{
	padding-left: 22px;
}
.container_1 {
	height: 60px;
	line-height: 60px;
}

/* CSS section_2 */
.section_2{
	background: #ffffff;
}
.sec2_left{
	width: 20%;
	float: left;
}
.sec2_center{
	width: 60%;
	float: left;
}
.sec2_right{
	width: 20%;
	float: right;
	text-align: right;
}
.section_2 .container_2 .sec2_center a{
	padding: 0 30px;
}
.section_2 .container_2 .sec2_right a{
	padding-left: 35px;
}
.section_2 .container_2 .sec2_left p{
	padding-top: 44px;
	padding-bottom: 42px;
}
.section_2 .container_2 .sec2_center li{
	display: inline-block;
	padding-top: 56px;
	padding-bottom: 54px;
}
.section_2 .container_2 .sec2_right li{
	display: inline-block;
	padding-top: 37px;
	padding-bottom: 51px;
}

/* CSS Section 3 */
.container_3{
	width: 810px;
	padding: 100px 0;
}
.sec3_top{
	width: 100%;
	text-align: center;
}
.sec3_mid{
	width: 100%;
	padding: 10px 0;
	font-size: 45px;
	color: #7b7b7b;
}
.sec3_bot{
	width: 100%;
	padding: 10px 0;
	text-align: center;
}
.clear{
	clear: both;
}
.sec3_mid input{
	width: 100%;
	border: 2px solid #929292;
	border-radius: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 35px; 
}

.sec3_dik input{
	display: none;
}
.sec3_dik label{
	width: 100%;
	font-size: 35px;
	color: #7b7b7b;
	text-align: center;
}
.sec3_dik label:before{
	content: "";
	width: 30px;
	height: 30px;
	border-radius: 100%;
	border:3px solid #929292;
	background-color: #ffffff;
	margin-right: 15px;
	float: left;
}
.sec3_dik input:checked + label:before{
	background-color: #185fad;
}

.sec3_button button{
	background-color: rgba(24,95,173,0.8);
	font-size: 45px;
	color: #ffffff;
	width: 300px;
	height: 80px;
	line-height: 80px;
	background-attachment: fixed;
	background-position: center;
	border-radius: 15px;
}
.sec3_bot p a{
	color: #334b91;
	font-size: 42px;
}

/* CSS section 4 */
.section_4{
	background: #ffffff;
}
.sec4_left{
	width: 20%;
	float: left;
}
.sec4_center{
	width: calc(50% - 50px);
	float: left;
	padding-left: 50px;
	margin-right: -15px;
}
.sec4_right{
	width: 20%;
	float: right;
	text-align: right;
}
.sec4_center div{
	display: inline-block;
	width: calc(100% / 3 - 45px);
	padding-right: 15px;
	padding-left: 25px;
}
.sec4_center1{
	float: left;
}
.sec4_center2{
	float: left;
}
.sec4_center3{
	float: right;
}
.section_4 .container_4 li{
	padding-bottom: 10px;
}
.sec4_left ul{
	padding: 70px 0;
}
.sec4_center ul{
	padding: 70px 0;
}
.sec4_right ul{
	padding: 70px 0;
}
.text4{
	padding-right: 54px;
	font-size: 16px; 
	color: #ff5912;
}
.sec4_center li{
	list-style-type: disc;
}
.sec4_center li:hover a{
	color: #ff5912;
}
.sec4_center li:hover{
	color: #ff5912;
}
@media screen and (max-width: 1200px){
	/*Big tablet*/
}
@media screen and (max-width: 992px){
	/*small tablet*/
}

@media screen and (max-width: 768px){
	/*mobile*/
	
}
