*{
	margin: 0;
	padding: 0;
}
body{
	background: #f4f6f8;
	font-family: 'Merriweather', serif;
}
li{
	list-style-type: none;
}
.section a{
	text-decoration: none;
}
/*CSS Section_1*/
.section_1{
	background: #ffffff;
	border-bottom: 2px solid #f4f6f8;
	padding: 20px 0;
}
.right li a{
	color: #34404b;
	font-size: 14px;
}
.color_xam{
	color: #34404b;
}
.color_cam{
	color: #ff5912;
}
/*CSS Section_2*/
.section_2{
	background: #ffffff;
	padding: 40px 0;
}
.container_2 .col-lg-8 a{
	padding-right: 15px;
	font-size: 16px;
	font-weight: 500;
}
.container_2 .col-lg-2 a{
	font-size: 16px;
}
.container_2 .col-lg-8 a:hover{
	color: #ff5912;
}
/*CSS Section_3*/
.section_3{
	padding: 20px 0 50px 0;
}
.ico_user{
	color: #b8b9ba;
	font-size: 120px;
	padding: 50px 0;
}
.dieu-kien{
	padding: 25px 0 30px 0;
}
.dang-ky{
	padding: 22px 50px;
	background: linear-gradient(to right,#3d45a5,#2c8bca);
	color: #ffffff;
	border-radius: 10px;
}
.return-dangnhap{
	padding: 10px 0;
}
.return-dangnhap a{
	color: #344b91; 
}
.clear{
	clear: both;
}
/*style Radio*/
.dieu-kien input{
	display: none;
}
.dieu-kien label:before{
	content: "";
	height: 20px;
	width: 20px;
	border-radius: 100%;
	background: #ffffff;
	border: 2px solid #929292;
	box-sizing: border-box;
	float: left;
	margin-right: 10px;
}
.dieu-kien input:checked + label:before{
	background: #1860ad;
}
/*CSS Section_4*/
.section_4{
	background: #ffffff;
	padding: 80px 0;
}
.container_4 .col-lg-6 li a{
	color: #28313b;
}
.container_4 .left_sec4 li a{
	color: #28313b;
}
.center_sec4 li{
	list-style-type: disc;
}
.center_sec4_right ul{
	padding-left: 30px;
}
.container_4 ul li{
	padding: 5px 0;
}
.center_sec4 li:hover{
	color: #ff5912;
}
.center_sec4 li:hover a{
	color: #ff5912;
}