*{
	margin:0;
	padding: 0;
}
body{
	background-color: #f4f6f8;
	color: #28313b;
	font-size: 14px;
	
	font-family: 'Open Sans', sans-serif;
}
a{
	text-decoration: none;
	color: #28313b;
}
li{
	list-style: none;
}
.section{
	float:left;
	width: 100%;
}
.container{
	width: 1170px;
	margin: 0 auto;
	background-color: #f4f6f8;
}
.container_content{
	width: 400px;
	margin: auto;
	background-color: #f4f6f8;
}
.section_1{
	border-bottom: 1px solid #f4f6f8;
	background-color: white;
	width: 100%;
}
.section_1_1{
	border-bottom: 2px solid #f4f6f8;
	background-color: white;
	line-height: 60px;
}
.section_1_1_trai{
	float:left;
}
.section_1_1_trai img{
	margin-right: 5px;
}
.mai-top{
	float: left;
	margin-right: 30px;
}
.phone-top{
float:left;
}
.section_1_2{
	float:right;
}
.section_1_2 img{
	margin-left: 20px;
}
.section_2{
	border-bottom: 1px solid #f4f6f8;
	background-color: #fff;
	line-height: 100px;
}
.section_2_1{
	width:15%;
	float:left;
	margin-right: 100px;
}
.section_2_2{
	float:left;
	
	width: 50%;
	padding-right: 35px;
}
.sectiom_2_2 ul{
	list-style-type: none;
}
.section_2_2 li{
	float: left;
	margin-right: 25px;
}
.section_2_2 a{
	font-size: 16px;
	color:#34404b;
}
.section_2_2 a:hover{
	color:#ff5912;
}
.section_2_3{
	float:right;
	text-align: right;
	width: 15%;
}
.gio_hang{
	float:right;
}
.trai_dat{
	float:right;
	margin-right: 13px;
}
.tim_kiem{
	float:right;
	margin-right: 30px;
}
.section_3{
	margin-top:30px;
}
.section_3_1 img{
	padding-left: 30%;
	padding-top: 30px;
}
.section_3_2 {

  width: 100%;
  text-align: left;
  font-size: 18px;
  line-height: 30px;
}
.section_3_2 input{
	width: 100%;
	padding: 15px;
}

#dieu_khoan_1{
	float: left;
	width: 7%;
}

#dieu_khoan_2{
	font-size: 14px;
}
#dieu_khoan{
	padding-left: 20%;
	padding-right: 20%;
	margin-top: 7%;
}
button{
	background-color: #2d82c5;
	color: white;
	padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 20px 10px;
    cursor: pointer;
}

#dk_1 label{
	color: #2d82c5;
	font-size: 17px;
	padding-left: 8%;
	padding-right: 8%;
}

.section_4{
	width: 100%;
	background-color: white;
	margin-top: 60px;
	padding: 80px 0;
}
.section_4_content{
	line-height: 20px;
}
.logo-footer{
	width: 30%;
	float:left;
}
.logo-footer span{
	float:left;
	padding-top: -20px;
}
.mark{
	width: 50%;
	float: left;
}
.mark li a:hover{
	color:#ff5912;
}
.mark li{
	margin-bottom: 30px; 
	list-style: disc;
}
.mark li:hover{
	color: #ff5912;
}
.mark_1{
	float:left;
	width: 30%;
}
.mark_2{
	float:left;
	width: 40%;
}
.mark_3{
	float:left;
	width: 30%;
}

.payment{
	width: 20%;
    float: left;
}
.payment span{
	color: #ff5912;
	float:left;
}
.payment img{
	margin-top: 40px;
	float: left;
}