*{
	margin: 0;
	padding: 0;
}
body{
	background: #f4f6f8;
	color:#28313b;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	font-family: 'Aleo', serif;
}
a{
	text-decoration: none;
	color: #34404b;
}
li{
	list-style-type: none;
}

.section{
	float: left;
	width: 100%;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
/* CSS section_1 */
.section_1{
	background-color: #ffffff;
	border-bottom: 1px solid #f4f6f8;
}
.section_1 .container_1 ul li{
	display: inline-block;
}
.section1_1{
	float: left;
	width: 50%;
	height: 60px;
	margin-left: -20px;
}
.container_1 li{
	line-height: 60px;
}
.section1_1 ul li img{
	padding-right: 10px;
	padding-left: 20px;
}
.section1_2{
	float: right;
	width: 50%;
	height: 60px;
	text-align: right;
	margin-right: -20px;
}
.section1_2 ul li img{
	padding-right: 20px;
}
/* CSS section_2*/
.section_2{
	background-color: #ffffff;
}
.section2_1{
	float: left;
	width: 15%;
	height: 120px;
}
.section2_2{
	float: left;
	width: 55%;
	height: 120px;
}
.section2_3{
	float: right;
	width: 30%;
	height: 120px;
	text-align: right;
}
.section_2 .container_2 div{
	display: inline-block;
}
.section2_1 span img{
	padding-top: 44px;
}
.section2_1 span img{
	padding-right: 60px;
}
.section2_2 span a{
	font-size: 16px;
	padding-right: 35px;
}
.section_2 .container_2 .section2_2-content a:hover{
	color: #ff5912;
}
.section2_2-content{
	padding-top: 54px;
}
.section2_3-content{
	margin-right: -30px;
	padding-top: 36px;
}
.section2_3 span img{
	padding-right: 30px;
}
/* CSS section_3 */

.left{
	float: left;
	width: 25%;
}
.right{
	float: right;
	width: 75%;
}

/* CSS left*/
.container_3{
	padding-top: 118px;
}
.block{
	float: left;
}
.list1{
	margin-left: -15px;
}
.block_1{
	width: calc(100% - 30px);
	padding-top: 14.5px;
	padding-right: 15px;
	padding-bottom: 14.5px;
	padding-left: 15px;
	background: #f4f6f8;
}
.block_2{
	width: calc(100% - 30px);
	padding-top: 14.5px;
	padding-right: 15px;
	padding-bottom: 14.5px;
	padding-left: 15px;
	background: #f4f6f8;
}
.block_1-content{
	width: calc(100% - 57px);
	
	background: #ffffff;
	padding-top: 42px;
	padding-right: 15px;
	padding-left: 42px;
	
}
.block_2-content{
	width: calc(100% - 57px);
	
	background: #ffffff;
	padding-top: 42px;
	padding-right: 15px;
	padding-left: 42px;
}
h3{
	color: #ff5912;
	font-size: 18px;
	font-weight: 700px;
	padding-bottom: 46px;
}
.container_3 ul li{
	color: #34404b;
	font-size: 16px;
	font-weight: 600;
	padding-bottom: 25px;
}
/* CSS right */
.list{
	margin-right: -15px;
}
.item{
	width: calc(100% / 3 - 30px);
	padding-top: 15.5px;
	padding-right: 15px;
	padding-bottom: 15.5px;
	padding-left: 15px;
	background: #f4f6f8;
	float: left;
}
.item-content{
	float:left;
	width: calc(100%);
	text-align: center;
	background-color: #ffffff;
	height: 347px; 
}
.pic{
	padding-top: 30px;
	padding-bottom: 20px;
}
.name{
	font-weight: 700;
	padding-bottom: 10px;
}
.namelin{
	color: #34404b;
	font-size: 18px;
}

.ba_cham{
	float: left;
	width: 871px;
	background: #f4f6f8;
	padding-top: 28px;
	padding-left: 15px;

}
.ba_cham-content{
	float: left;
	width: calc(100%);
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-weight: 700;
	background: #ffffff;
}
.clear{
	clear: both;
}
.fighover{
	display: none;
}
.item-content:hover figure{
	display: none;
}
.item-content:hover .fighover{
	display: block;
}.fighover a{
	color: #ff5912;
}
.item_price{
	color: #ff5912;
	font-size: 18px;
	font-weight: 700;
}
.item_soci li{
	display: inline-block;
	padding-top: 30px;
	padding-right: 28px;
}
.like{
	margin-right: -28px;
}
/* CSS box*/
.box-red{
	width: 15px;
	height: 15px;
	background-color: #e12e3f;
	border-radius: 100%;
	display: inline-block;
}
.box-black{
	width: 15px;
	height: 15px;
	background-color: #34404b;
	border-radius: 100%;
	display: inline-block;
}
.box-blue{
	width: 15px;
	height: 15px;
	background-color: #3ab3ff;
	border-radius: 100%;
	display: inline-block;
}
.box-green{
	width: 15px;
	height: 15px;
	background-color: #2fd967;
	border-radius: 100%;
	display: inline-block;
}
.box_color{
	text-align: center;
	padding-top: 20px;
	letter-spacing: 5px;
}
/* CSS checkbox */
.block-sizes input{
	display: none; 
}
.block-sizes li{

}
.block-sizes label:before{
	content: "";
	width: 16px;
	height: 15px;
	background-color: #edf0f2;
	border: 6px solid #ffffff;
	margin-right: 10px;
	float: left;
}
.block-sizes input:checked + label{
	color: #ff5912;
}
.block-sizes input:checked + label:before{
	background-color: #ffffff;
	border: 4px solid #ff5912;
}

.block-brands input{
	display: none; 
}
.block-brands li{

}
.block-brands label:before{
	content: "";
	width: 16px;
	height: 15px;
	background-color: #edf0f2;
	border: 6px solid #ffffff;
	margin-right: 10px;
	float: left;
}
.block-brands input:checked + label{
	color: #ff5912;
}
.block-brands input:checked + label:before{
	background-color: #ffffff;
	border: 4px solid #ff5912;
}
/* CSS section_4 */
.section_4{
	padding-top: 100px;
	padding-bottom: 100px;
}
.section4_1{
	float: left;
	background: #ffffff;
	width: 50%;
}
.section4_2{
	float: right;
	background: #ffffff;
	width: 50%;
	text-align: right;
}
.section_4 .container_4 li{
	display: inline-block;
}
.container_4 img{
	vertical-align: middle;
}
.section4_1-content{
	padding-bottom: 55px;
}
.section4_1-content ul li a img{
	padding-right: 25px;
	padding-left: 42px;
}
.section4_1-content{
	padding-top: 55px;
}

.h3newlet {
	float: left;
	display: inline-block;
}
.section4_1-content p{
	float: right;
	display: inline-block;
}
.section4_2-content{
	padding-bottom: 42px;
	}
.join{
	padding-right: 42px;
	padding-left: 162px;
	padding-top: 37px;
}
.mail_sec4{
	padding-left: 12px;
}

/* CSS section_5*/
.section_5{
	background: #ffffff;
	margin-top: 100px;
}
.section5_1{
	float: left;
	width: 23%;
	background: #ffffff;
}
.section5_2{
	float: left;
	width: 54%;
	background: #ffffff;
}
.section5_3{
	float: right;
	width: 23%;
	background: #ffffff;
	text-align: right;
}
.sec5_1-content {
	width: 100%;
	padding-top: 88px;
}
.sec5_1-content ul li img{
	padding-bottom: 10px;
}

.sec5_2-content{
	padding-top: 88px;
	width: 100%;
}
.sec5_2-content div{
	display: inline-block;
	padding-left: 100px;
	vertical-align: top;
	
}
.sec5_2-content ul li{
	padding-bottom: 20px;
	list-style-type: disc;
}
.sec5_3-content{
	padding-top: 98px;
	width: 100%;
}
.sec5_3-content ul li{
	padding-bottom: 20px;
}
.namepay{
	padding-right: 40px;
	color: #ff5912;
	font-size: 16px;
	font-weight: 600;
}
.sec5_2-content li a:hover{
	color: #ff5912;
}

