.section{
 	background-color: #f6fcff;
	font-size: 14px;
	font-family: 'Merriweather', serif;
}

.container{

}
li{
	list-style-type: none;
}
ul{
	padding: 0;
	margin: 0;
}
.section a{
	text-decoration: none;
	color: #535a5e;
}
/* CSS Section_1*/
.section_2f .container_2f{
	padding-top: 50px;
	padding-bottom: 50px;
}
/* CSS Section_2 */
.section_2{
	background: linear-gradient(to right,#6397aa,#99c873);
}
.left_2{
	padding-top: 14px;
}
.left_2 a{
	padding-right: 20px;
	font-size: 40px;
	color: #f4f6f8;
	font-weight: 600;
}
.right_2 li{
	display: inline-block;
	padding-top: 30px;
	padding-bottom: 30px;
}
.right_2 a{
	padding-right: 20px;
	padding-left: 20px;
	font-size: 20px;
	font-weight: 400;
	color: #f4f6f8;
}
.right_2 li:hover a{
	color: #d43f3a;
}
.right_2 li:hover{
	background-color: #f2dede;
	box-sizing: border-box;
	border-radius: 20px;
	border: 3px solid #8c8c8c;
}
/*CSS Section_3*/
.section_3{
	padding-bottom: 100px;
}
.section_3 .container_3{
	padding-top: 50px;
}
.game_pc{
	width: 100%;
	float: left;
	padding-bottom: 40px;
}
.game_mobile{
	width: 100%;
	float: left;
}
.left_3 .head li{
	display: inline-block;
}
.left_3 .head a{
	padding-right: 10px;
	color: #535a5e;
}
.item{
	width: calc(100% / 3);
	float: left;
	border: 1px solid #cdcdcd;
	padding: 15px;
	background-color: #f4f6f8;
	box-sizing: border-box;
	position: relative;
}
.pic{
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}
.text_1{
	padding: 10px;
	margin: 0 auto;
}
.text_1 a{
	display: block;
}
.fighover .b_title{
	font-weight: bold;
	color: #0f0f0f;
}
.fighover .i_conte{
	font-style: italic;
	color: #0f0f0f;
}
/* hover*/
.fighover{
	opacity: 0;
	position: absolute;
	margin: 0 auto;
	top: 10%;
	left: 15px;

}
.item:hover .fighover{
	display: block;
	opacity: 1;
}
.item:hover .item_content{
	opacity: 0.3;
}
.fighover .b_titleh:hover{
	color: #d43f3a;
	text-decoration: underline;
}


.tai_khoan{
	padding-bottom: 20px;}
.tin_tuc{
	padding-bottom: 20px;}
.top_game{
	padding-bottom: 20px;}
.right_3 .head_3l{
	width: 60%;
	float: left;
}
.right_3 .head_3r{
	width: 40%;
	float: right;
}
.right_3 .head_right_3{
	box-sizing: border-box;
	border-bottom: 1px solid #cdcdcd;
	padding-top: 10px;
	padding-bottom: 10px;
	background: linear-gradient(to right,#6397aa,#99c873);
}
.right_3 .head_right_3 a{
	color: #f4f6f8;
}
.clear{clear: both;}
.right_3 .top_game ul li{
	padding-bottom: 10px;
}
.right_3 .tin_tuc ul li{padding-bottom: 10px;}
.right_3{padding-top: 39px;}

.right_3 .t_content{
	box-sizing: border-box;
	border: 1px solid #cdcdcd;
	background-color: #f4f6f8;
}
.right_3 .t_content .tr_space{
	padding-left: 10px;
}
.top_game .number{
	background: #818181;;
	padding: 0 5px;
	color: #fff;
}
.top_game .pic_1{
	width: 40px;
	position: relative;
	margin: 0 auto;
	padding: 6px;
	text-align: center;
}
/*CSS Section_4*/
.section_4{
	padding-bottom: 50px;
	background: linear-gradient(to bottom,#8c8c8c,#ffffff);
}
.section_4 .container_4 .head li{display: inline-block;}
.section_4 .container_4 .head a{padding-right: 15px;}
.section_4 .container_4 .head{
	padding-bottom: 10px;
}